@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Dirt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0000;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px #5c0000 solid; 
    max-width: 100%;
}

img{
    padding: 10px;
    width: 130px;
    cursor: pointer;
}


.nav{
    display: flex;
    flex-direction: row;
}

 li, a{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    color: white;
    font-size: 20px;
    transition: all .5s ease-in;
}

li, a:hover{
    color: #5c0000;
}

#opennav{
    display: none;
}
#closenav{
    display: none;
}

/*Conteúdo Central*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 300px;
    margin-top: 100px;
}
h4{
    font-size: 20px;
    font-style: italic;
    font-family: 'EB Garamond', serif;
}
p{
    font-family: 'EB Garamond', serif;
    font-style: italic;
}
.text{
    margin-top: 10px;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #240000;
    border-radius: 15px 2px 15px 2px;
    width: 400px;
    height: 400px;
}
h2{
    font-size: 30px;
    position: relative;
    top: -5px;
}
label{
   margin-top: 5px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}

.btnsubmit{
    margin-top: 10px;
    width: 120px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    transition: all .5s ease-in;
    cursor: pointer;
}

.btnsubmit:hover{
    color: white;
    background-color: #0a0000;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    animation: modal .4s;
}

#closemodal{
    font-size: 40px;
    cursor: pointer;
    margin-left: 50px;
}


.headermodal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: -100px;
    margin-bottom: 10px;
}

.btnregister{
    border: 2px #240000 solid;
    background-color: #0a0000;
    margin-top: 50px;
    color: white;
    font-family: 'Rubik Dirt', cursive;
    font-weight: bolder;
    font-size: 25px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease;
}

.btnregister:hover{
    background-color: #240000;
}

.download{
    margin: 10px;
    font-size: 15px;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}